@media (max-width: 1000px) {
	.contact-form, .contact > .container > p {
		position: static;
		width: 70%;
		margin: 0 auto;
	}
	.form-submit {
		position: static;
	}
	.col-66, .col-33 {
		width: 100%;
	}

	.btn-contact {
		width: 50%;
	}

	.partners {
		width: 100%;
	}

	.associations img {
		float: left;
		width: 50%;
		padding: 20px;
	}

	.sidelink a {
		margin-bottom: 3px;
		font-size: 14px;
	}

	.main-section {
        padding: 80px 0;
    }
    
    .main-left {
         float: left;
         width: 50%;
    }
    
    .main-right {
         float: right;
         width: 50%;
    }
    
    .main-right img {
         width: 60%;
    }
    
    .main-section h1 {
        font-size: 60px;
    }
    
    .main-section h3 {
        font-size: 40px;
    }
    
    .main-section p {
        font-size: 10px;
    }
    
    .main-section span {
        color: #FF6708;
    }
}

@media all and (max-width: 670px) {
	.contact-form, .contact > .container > p {
		width: 100%;
	}

	.col-33, .col-66, .btn-contact {
		width: 100%
	}

	.header-right {
		display: none;
	}

	.menu-icon {
		display: block;
		opacity: 1;
	}

footer {
	height: 120px;
	text-align: center;
}

	.footer-logo {
		display: none;
	}

	.visito-contact, .sidelink {
		width: 100%;
		float: none;
	}

	.visito-contact h3 {
		font-size: 12px;
		margin: 5px 0;
	}

	.visito-contact p {
		font-size: 9px;
		margin-bottom: 1px;
	}

	.sidelink a {
		font-size: 9px;
		display: inline-block;
		padding: 0;
		margin: 0 7px;
	}

	.copyright {
		width: 100%;
		padding: 3px 0;
		font-size: 8px;
	}

	.main-section {
        padding: 80px 0;
    }
    
    .main-left {
         float: left;
         width: 55%;
    }
    
    .main-right {
         float: right;
         width: 40%;
    }
    
    .main-right img {
         width: 80%;
    }
    
    .main-section h1 {
        font-size: 20px;
    }
    
    .main-section h3 {
        font-size: 15px;
    }
    
    .main-section p {
        font-size: 10px;
    }
    
    .main-section span {
        color: #FF6708;
    }


}
