@media (max-width: 1000px) {
	.contact-form {
		position: static;
		width: 70%;
		margin: 0 auto;
	}
	.form-submit {
		position: static;
	}
	.col-66, .col-33 {
		width: 100%;
	}

	.btn-contact {
		width: 50%;
	}

	.partners {
		width: 100%;
	}

	.associations img {
		float: left;
		width: 50%;
		padding: 20px;
	}
}

@media all and (max-width: 670px) {
	.contact-form {
		width: 100%;
	}

	.col-33, .col-66, .btn-contact {
		width: 100%
	}
}