* {
	box-sizing: border-box;
}


html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
	/* font-size:  1.2rem; */
	/* font-weight: 400; */
}

a {
	text-decoration: none;
}

header {
	height: 65px;
	line-height: 65px;
	background-color: rgba(21, 88, 181, 0.9);
	width: 100%;
	position: fixed;
	z-index: 10;
}

.header-logo img {
	width: 124px;
	float: left;
	padding-top: 10px;
	height: 55px;
	background-color: white;
}

.header-right {
	float: right;
	position: absolute;
	left: 880px;
}

.header-right a {
	color: white;
	display: inline-block;
	line-height: 65px;
	padding: 0 10px;
	text-align: center;
}

.header-right a:hover {
	background-color: rgb(21, 88, 181);
	font-weight: bold;
}

.main-section {
	padding: 100px 80px;
}

.body{
	width: 100%;
}

.main-section-item img {
	float: right;
	width: 32%;
}

.heading h2{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

.destinations{
	margin-bottom: 30px;
}

.destination{
	margin-top: 30px;
	width: 33.3%;
	float: left;
}

.destination-item{
	position: relative;
	margin-left: 50px;
}

.destination-item p {
	position: absolute;
	left: 35%;
	top: 44%;
	color: white;
}

.destination-item img{
	border-radius: 30px;
	width: 350px;
	height: 250px;
	margin-bottom: 30px;
}

.btn {
	padding: 12px 24px;
	color: #fff;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
	text-align: center;
	margin-bottom: 30px;
  }

  .button{
	  margin-left: 598px;
  }
  
  .btn:hover {
	opacity: 1;
  }

  .message {
	padding: 10px 35px;
	background-color: #2427d4;
	cursor: pointer;
	box-shadow: 0 7px #310ead;
  }
  
  .message:active {
	position: relative;
	top: 7px;
	box-shadow: none;
  }
  

.container {
	width: 100%;
	max-width: 800px;
	padding: 0 10px;
}

.container h1 {
	font-size: 100px;
}

.container h3 {
	font-size: 60px;
}

.container p {
	font-size: 30px;
}

.container span {
	color: #ff4a4a;
}

footer {
	background-color: rgba(21, 88, 181, 0.9);
	height: 165px;
	clear: both;
}

.footer-logo {
	width: 15%;
	float: left;
}

.visito-contact {
	width: 65%;
	float: left;
}

.foot-ref {
	position: relative;
}

.sidelink {
	width: 20%;
	float: right;
	position: absolute;
	left: 1150px;
}

.footer-logo img {
	height: 165px;
	background-color: white;
}

.visito-contact h3 {
	color: white;
	font-size: 22px;
	margin: 10px 0;
}

.visito-contact p {
	color: white;
	font-size: 14px;
	margin-bottom: 3px;
}

.sidelink a {
	display: block;
	font-weight: bold;
	color: white;
	text-align: right;
	margin-top: 15px;
	margin-bottom: 5px;
}

.sidelink a:hover {
	color: black;
}

.copyright {
	width: 100%;
	text-align: center;
	background-color: rgba(21, 88, 181, 0.9);
	padding: 5px 0;
	font-size: 10px;
	color: white;
	border-top: 2px solid white;
}
